
# pixi environments
.pixi
*.egg-info

/.quarto/
docs/.DS_Store
.DS_Store
malawi.code-workspace
data/GHS_SMOD_E2025_GLOBE_R2023A_54009_1000_V2_0.clr
data/GHS_SMOD_E2025_GLOBE_R2023A_54009_1000_V2_0.tif
data/GHS_SMOD_E2025_GLOBE_R2023A_54009_1000_V2_0.tif.ovr
scripts/scrapbook.ipynb
scripts/scrapbook6.ipynb
scripts/scrapbook7.ipynb
scripts/scrapbook8.ipynb
scripts/test.sql
scripts/scrapbook9_files/libs/bootstrap/bootstrap-b209fdb71606fdca1c57bf24328d8c82.min.css
scripts/scrapbook9_files/libs/bootstrap/bootstrap-icons.css
scripts/scrapbook9_files/libs/bootstrap/bootstrap-icons.woff
scripts/scrapbook9_files/libs/bootstrap/bootstrap.min.js
scripts/scrapbook9_files/libs/clipboard/clipboard.min.js
scripts/scrapbook9_files/libs/quarto-html/anchor.min.js
scripts/scrapbook9_files/libs/quarto-html/popper.min.js
scripts/scrapbook9_files/libs/quarto-html/quarto-syntax-highlighting-e1a5c8363afafaef2c763b6775fbf3ca.css
scripts/scrapbook9_files/libs/quarto-html/quarto.js
scripts/scrapbook9_files/libs/quarto-html/tippy.css
scripts/scrapbook9_files/libs/quarto-html/tippy.umd.min.js
scripts/scrapbook9_files/libs/quarto-html/tabsets/tabsets.js
